lagent==0.2.2
lmdeploy[all]==0.2.4
modelscope
onnxruntime-gpu
openxlab
pandas
python-docx
streamlit
transformers
xtuner[all]
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
